<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <queries>
        <!-- 允许查询系统设置应用 -->
        <intent>
            <action android:name="android.settings.action.MANAGE_OVERLAY_PERMISSION" />
        </intent>
    </queries>

    <application>
        <service
            android:name=".service.OverlayService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="health" />
    </application>

</manifest>